body{
    background-color: #FFDFD3;
}
div.n{
    background-color: #fdf8b6;
    position: absolute;
    margin: auto;
    justify-content: center;
    top: 30%;
    left: 25%;
    right: 25%;
    height: 300px;
    width: 600px;
    border: 5px solid;
    border-color: #f5ec70;
    border-radius: 30px;
    text-align:left;
    
}
div.in{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    color: #D291BC;
}
img{
    position: absolute;
    top: 9%;
    left: 30px;
    border-radius: 30px;
}
